.btn {
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  font-size: 1.19rem;
  padding: 12px 24px;
  border: none;
  outline: none;

  &--outline-yellow {
    background-color: transparent;
    border: 2px solid $mainYellow;
    color: $mainYellow;
  }

  &--outline-yellow:hover {
    background-color: $mainYellow;
    border: 2px solid $mainYellow;
    color: #000000;
  }

  &--outline-white {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
  }

  &--outline-white:hover {
    background-color: transparent;
    border: 2px solid #cccccc;
    color: #cccccc;
  }

  &--blue {
    background-color: $mainBlue;
  }

  &--blue:hover {
    background: linear-gradient(
      scale-color($mainBlue, $lightness: 11%),
      $mainBlue
    );
  }

  &--yellow {
    background-color: $mainYellow;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
  }

  &--yellow:hover {
    background: linear-gradient(
      $mainYellow,
      scale-color($mainYellow, $lightness: -29%, $saturation: 100%)
    );
  }

  &--darkBlue {
    background-color: $darkBlue;
    color: #173f58;
  }

  &--darkBlue:hover {
    background-color: $mainYellow;
  }

  &--gray {
    background-color: #222;
  }

  &--white {
    background-color: #fff;
    color: #173f58;
  }

  &--white:hover {
    background-color: #ddd;
  }
  &--small {
    font-size: 0.88rem;
    padding: 7px 13px;
    font-weight: 300;
  }
  &--large {
    font-size: 1.3rem;
    padding: 16px 34px;
    border-radius: 7px;
    @include atSmall {
      font-size: 1.9rem;
    }
  }

  &--inactive {
    background-color: transparent;
    cursor: default;
    color: #333;
  }
}
