#stripe-card-element {
}
#stripe-card-element {
}
#stripe-exp-element {
}
#stripe-cvc-element {
}

.woocommerce-checkout #payment div.form-row {
  padding: 0;
}

.woocommerce-terms-and-conditions-wrapper {
  margin: 1rem;
}

#place_order {
  margin-bottom: 40px;
  margin-right: 40px;
}
